<!DOCTYPE html>
<html lang="zh-cn" class="static size-full">

<head>
  <meta charset="UTF-8">
  <script>
    window.$api = {}
    window.$$safe$$ = false
    window.$$lib$$ = {}
  </script>
  <title><%- title %></title>
  <meta name="description" content="Per Aspera, Ad Astra">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <link rel="shortcut icon" href="/favicon.webp" type="image/x-icon">
  <link rel="apple-touch-icon" href="/favicon.webp" type="image/x-icon">
  <link rel="stylesheet" href="/setup.css">
</head>

<body class="static size-full">
  <div id="app" class="static bg-(--van-background) size-full overflow-auto"></div>
  <div id="setup">
    <img src="/setup.avif" alt="">
    <div><%- title %></div>
  </div>
  <div id="cover" class="fixed top-0 left-0 z-50 size-full pointer-events-none *:pointer-events-auto"></div>
  <div id="popups" class="relative z-100"></div>
  <div id="small-window" class="fixed top-0 left-0 pointer-events-none"></div>
  <div id="messages" class="translate-y-(--safe-area-inset-top)"></div>
</body>

</html>