#setup {
  all: unset !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  display: flex !important;
  justify-content: center !important;
  width: 100vw !important;
  height: 100vh !important;
  background-color: white !important;
  overflow: hidden !important;
  z-index: 1145141919810 !important;
}

#setup>img {
  all: unset !important;
  width: 95vw !important;
  object-fit: scale-down !important;
  margin-top: -30vw !important;
}

#setup>div {
  all: unset !important;
  position: absolute !important;
  bottom: 3rem !important;
  font-weight: 600 !important;
  font-size: 1.5rem !important;
  color: #fb7299 !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Segoe UI, Arial, Roboto, 'PingFang SC', 'miui', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif !important;
  line-height: 1rem !important;
}