name: 构建和发布(dist.zip, app.apk)

on:
  push: 
    branches: ["main"]
    tags: v*

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      ENV_STATE: github
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Store
        uses: actions/cache@v4
        with:
          path: |
            ~/android/.gradle/caches
            ~/android/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      
      - name: JDK 23
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '23'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Install apksigner
        run: sudo apt-get update && sudo apt-get install -y apksigner

      - name: Build script run pm
        run: chmod +x ./script/*

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 10.24.0    
      
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'pnpm'                     
                  

      - name: Change depends
        run: sh ./script/install.sh

      - name: Install dependencies
        run: pnpm install --no-frozen-lockfile

      - name: Build
        run: pnpm run build

      - name: Get package version
        id: get_version
        run: |
          # 输出 package.json 中的 version 字段为 step 输出
          echo "version=`sh ./script/getVersion.sh`" >> "$GITHUB_OUTPUT"

      - name: Release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: |
           ./dist/dist.zip
           ./dist/app.apk
          tag_name: ${{ github.ref }}
          name: ${{ steps.get_version.outputs.version }}
          body: |
            或许你可以猜猜更新内容
          repository: ${{github.repository}}
          token: ${{ secrets.GITHUB_TOKEN }}
          make_latest: true